/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1016; 
    color: #fff;
    padding: 10px;
}

/* Title */
.title {
    font-size: 24px;
    font-weight: bold;
}

/* Menu */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4f2b38;
    flex-direction: column; /* Display genres vertically */
    min-width: 120px; /* Set a minimum width for better visibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    border: 1px solid #555; /* Add a border for separation */
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Dropdown Links */
.dropdown-content a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s; /* Add a smooth background color transition */
}

.dropdown-content a:hover {
    background-color: #555; /* Change background color on hover */
}


/* Search Bar */
.search {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
}

button[type="submit"] {
    background-color: #4f2b38;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-icon {
    background-color: #ffffff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
