<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="navbar">
    <ul class="menu">
        <li><a href="#">Homepage</a></li>
        <li class="dropdown">
            <a href="#">Genres</a> 
            <div class="dropdown-content">
                <div *ngFor="let genre of genres">
                    <a>{{ genre.Name }}</a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="#">Actors</a>
            <div class="dropdown-content">
            <div *ngFor="let actor of actors">
                <a [routerLink]="['/actor-details', actor.ID]">{{ actor.FullName }}</a>
            </div>
            </div>
        </li>
        
    </ul>
    <div class="title">Movie Spotlight</div>
    <div class="search">
        <button class="login-button" *ngIf="!logoutButton" routerLink="/login">Login</button>
        <button class="login-button" *ngIf="logoutButton" routerLink="/login" (click)="logout()">Logout</button>
        
        <input type="text" id="searchInput" placeholder="Search">
        <button type="submit" class="search-icon" (click)="onSearch()">
            <i class="fas fa-search"></i>
        </button>
    </div>


    
</div>
