/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1016; 
    color: #fff;
    padding: 10px;
}

/* Title */
.title {
    font-size: 24px;
    font-weight: bold;
}

/* Menu */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4f2b38;
    flex-direction: column; /* Display genres vertically */
    width: max-content; /* Allow the width to adjust to the content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    border: 1px solid #555; /* Add a border for separation */
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Dropdown Links */
.dropdown-content a {
    padding: 8px 12px; /* Adjust padding as needed */
    color: #ffffff; /* Text color */
    text-decoration: none; /* Remove default link underline */
    display: block;
}

/* Change color on hover if desired */
.dropdown-content a:hover {
    background-color: #743854; /* Change background color on hover */
}


/* Search Bar */
.search {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
}

button[type="submit"] {
    background-color: #4f2b38;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-icon {
    background-color: #ffffff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


/* Basic styles for the button */
.login-button {
    padding: 9px 15px;
    background-color: #3498db;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover effect */
  .login-button:hover {
    background-color: #2980b9;
  }
  
  
