 
    <div class="loader-container" *ngIf = "loader">
      <div class="loader"></div>
    </div>
    <div class="action-buttons" *ngIf = "!loader">
      <button class="action-button" title="Add" (click)="goToAddComponent()">
        <i class="fa fa-plus"></i>
      </button>
     </div>
    <div class="cards-container">
        <div class="card" *ngFor="let movie of movies">
            <div class="image-container">
              <img class="image" [src]="'http://' + movie.ImagePath" alt="Your Image">
            </div>
            <div class="title">{{ movie.Title }}</div>
            <div class="genre">{{ movie.Genre }}</div>
            <div>              {{ movie.ReleaseYear }}</div>
            <div class="action-buttons">
                <button class="action-button" title="Edit">
                  <i class="fa fa-pen"></i>
                </button>
                <button class="action-button-delete" title="Delete" (click)="deleteItem(movie.ID)">
                  <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
