 <div class="page-container">
    <div></div>
    <div class="cards-container">
        <div class="card" *ngFor="let movie of movies">
            <div class="image-container">
              <img class="image" [src]="'http://' + movie.ImagePath" alt="Your Image">
            </div>
            <div class="title">{{ movie.Title }}</div>
            <div class="genre">{{ movie.Genre }}</div>
            <div>              {{ movie.ReleaseYear }}</div>
            <div class="action-buttons">
                <button class="action-button"[routerLink]="'/edit-movie/' + movie.ID" *ngIf="loginService.isLogged">
                  <i class="fa fa-pen"></i>
                </button>
                <button class="action-button-delete" (click)="deleteItem(movie.ID)" *ngIf="loginService.isLogged">
                  <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>