 <div class="page-container">
    <div></div>
    <div class="cards-container">
        <div class="card" *ngFor="let movie of movies">
            <div class="image-container">
              <img class="image" [src]= movie.ImagePath alt="Your Image">
            </div>
            <div class="title">{{ movie.Title }}</div>
            <div class="genre">{{ movie.Genre }}</div>
            <div>              {{ movie.ReleaseYear }}</div>
            <div class="action-buttons">
                <button class="action-button">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="action-button" style="background-color: rgb(185, 4, 4);">
                  <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>