

<!-- don't forget to replace the component with <router-outlet></router-outlet>...please :) -->

<app-navbar></app-navbar>
<app-view-movies></app-view-movies>





<!-- This is a guid for the lovely team (●'◡'●) <br><br>

We should add the follwoing : <br><br>
 - Page for Edit <br>
 - Page for Add <br>
 - Template for Details (pop-up). There is no need for component to view the details, pop-up would be enough<br>
 - Confirmation Delete Message in Small Template<br>
 - Notifications <br>
 - Loader <br> -->