.movie-details {
    display: flex;
  }
  
  .small-card {
    width: 30%; /* Adjust the size of the small card as needed */
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #ccc;
    margin-right: 20px;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
  }
  
  .large-card {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #ccc;
  }


  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the loader takes up the full viewport height */
  }
  
  .loader {
    border: 6px solid #6f6e6e;
    border-top: 6px solid #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  